{% comment %}
  Renders an inline SVG benefit icon from a key, so there is no extra request
  per icon. The color follows the surrounding text color via currentColor,
  which the Benefit Icons section drives from its "Icon color" setting.

  Accepts:
  - icon: {String} icon key (shield, flask, microscope, leaf, drop,
    germany-silhouette). Unknown/blank keys fall back to a check mark.

  Usage:
  {% render 'benefit-icon', icon: 'shield' %}
{% endcomment %}

{%- liquid
  assign key = icon | default: 'check' | downcase | strip
-%}

<span class="benefit-icon" aria-hidden="true">
  {%- case key -%}
    {%- when 'shield' -%}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4839 1.25C15.4037 3.83322 19.2145 5.17821 23.1089 5C23.6759 6.92877 23.8494 8.95183 23.6191 10.949C23.3888 12.9461 22.7593 14.8766 21.7682 16.6257C20.777 18.3747 19.4444 19.9067 17.8495 21.1306C16.2546 22.3545 14.4299 23.2453 12.4839 23.75C10.5379 23.2453 8.71327 22.3545 7.11836 21.1306C5.52344 19.9067 4.19081 18.3747 3.19967 16.6257C2.20853 14.8766 1.57909 12.9461 1.34877 10.949C1.11844 8.95183 1.29193 6.92877 1.85892 5C5.75333 5.17821 9.56413 3.83322 12.4839 1.25Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'flask' -%}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.4995 7.55L7.34696 22.705C7.01537 23.0367 6.6217 23.2998 6.18843 23.4793C5.75516 23.6588 5.29077 23.7513 4.82177 23.7513C3.8746 23.7514 2.96617 23.3753 2.29633 22.7056C1.62649 22.036 1.25012 21.1276 1.25 20.1804C1.24988 19.2333 1.62603 18.3248 2.29571 17.655L17.4482 2.5" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.24939 13.75H16.2494" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.2494 16.25L23.1244 18.25C23.4426 18.6108 23.65 19.0558 23.7216 19.5316C23.7931 20.0074 23.7259 20.4937 23.528 20.9322C23.33 21.3707 23.0098 21.7428 22.6056 22.0038C22.2014 22.2648 21.7305 22.4036 21.2494 22.4036C20.7683 22.4036 20.2974 22.2648 19.8932 22.0038C19.489 21.7428 19.1687 21.3707 18.9708 20.9322C18.7728 20.4937 18.7056 20.0074 18.7772 19.5316C18.8488 19.0558 19.0562 18.6108 19.3744 18.25L21.2494 16.25Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.2494 1.25L23.7494 8.75" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'microscope' -%}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.75 23.75H21.25M5 20H7.5M6.25 20V23.75M10 10L8.75 11.25L12.5 15L13.75 13.75M16.25 11.25L20 7.5L16.25 3.75L12.5 7.5M10.625 13.125L8.75 15M18.75 1.25L22.5 5M12.5 23.7501C13.9373 23.7502 15.3443 23.3373 16.5536 22.5606C17.7629 21.7838 18.7236 20.676 19.3213 19.3689M19.8725 14.8701C19.5386 13.0861 18.5691 11.4837 17.1438 10.3601M1.25 1.25L23.75 23.75" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'leaf' -%}
      <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5177 22.5C3.1427 16.875 5.6427 12.5 11.2677 10" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M7.5175 18.75C15.29 18.75 20.6425 14.64 21.2675 3.75V1.25H16.25C5 1.25 1.2675 6.25 1.25 12.5C1.25 13.75 1.25 16.25 3.75 18.75H7.5H7.5175Z" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    {%- when 'drop' -%}
      <svg width="23" height="29" viewBox="0 0 23 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.025 28.6353C4.95135 28.6353 0 23.6839 0 17.6103C0 11.9327 8.91242 1.63394 9.96871 0.445621C10.4969 -0.14854 11.5531 -0.14854 12.0813 0.445621C13.0716 1.63394 22.05 11.9327 22.05 17.6103C21.984 23.6839 17.0326 28.6353 11.025 28.6353ZM11.025 3.48245C7.98817 7.11343 2.70674 14.1774 2.70674 17.6103C2.70674 22.1655 6.40374 25.8625 10.959 25.8625C15.5142 25.8625 19.2112 22.1655 19.2112 17.6103C19.2112 14.1774 13.9958 7.11343 11.025 3.48245ZM8.97844 22.8257C8.78039 22.8257 8.51632 22.7597 8.31826 22.6277C6.93189 21.8354 5.80958 20.5811 5.28144 19.0627C5.01737 18.3365 5.41347 17.5443 6.13967 17.2802C6.86587 17.0161 7.65808 17.4122 7.92216 18.1384C8.25225 18.9967 8.84641 19.7889 9.70464 20.251C10.3648 20.6471 10.6289 21.4393 10.2328 22.1655C9.96871 22.5616 9.50659 22.8257 8.97844 22.8257Z" fill="currentColor"/>
      </svg>
    {%- when 'germany-silhouette' -%}
      <svg width="25" height="34" viewBox="0 0 25 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0594 1.42529C10.2234 1.95896 10.5782 2.41554 11.0614 2.70166L12.58 3.6001C12.5808 4.4258 13.1719 5.18371 14.0507 5.32471L14.4579 5.39014C15.1021 5.4935 15.7577 5.28828 16.2274 4.83545L18.1766 2.95459L18.1844 2.95557L19.3446 3.95068C19.5413 4.11932 19.7656 4.25291 20.0077 4.34521L21.1552 4.78174L21.5458 6.4624L21.2098 7.67529C20.9661 8.55447 21.2774 9.49359 21.9979 10.0532L22.4989 10.4429L22.8495 14.1772C22.8878 14.5851 23.0367 14.9747 23.2802 15.3042L23.6903 15.8599L23.6151 16.1099C23.2046 16.0872 22.7956 16.1792 22.4354 16.3794L22.2499 16.4946L18.1932 19.3149C16.8604 19.437 16.0318 20.8816 16.6581 22.1108L17.9686 24.6821C18.119 24.9773 18.3328 25.2359 18.5946 25.439L20.7343 27.0981L18.9706 28.2847C18.3121 28.7274 17.9355 29.4846 17.9794 30.2769L17.993 30.5396L16.036 30.7808C15.6778 30.8248 15.3365 30.9547 15.0399 31.1577L14.9159 31.2485L14.5458 31.5405L13.4354 31.2632C12.799 31.104 12.1387 31.275 11.662 31.6938L10.7186 31.1235L10.5282 31.021C10.3341 30.9278 10.1272 30.8631 9.91394 30.8286L8.17566 30.5474L7.995 30.5259C7.8744 30.5163 7.75326 30.516 7.63269 30.5259L7.45105 30.5483L6.17761 30.7563L5.22058 30.5698L5.85144 27.9976L6.10925 27.6948C7.15707 26.4575 6.59188 24.5514 5.03894 24.0854L3.8866 23.7397L3.81238 23.7183L3.73718 23.7056L2.62097 23.5142L1.85437 22.6636L1.59753 20.687C2.05269 20.1605 2.16984 19.3994 1.85535 18.7456L1.26746 17.5229L1.83875 15.6792C1.98069 15.2202 1.97139 14.7276 1.81335 14.2739L1.78601 14.1968C2.00405 14.1077 2.2067 13.9795 2.38171 13.8159L3.78015 12.5083C4.13501 12.1766 4.3733 11.7394 4.45886 11.2612L4.94031 8.56592C4.9835 8.32406 4.98682 8.07642 4.95007 7.8335L4.71863 6.30029L4.72253 6.29346L5.60242 6.21631L6.46179 6.73486C7.43071 7.31848 8.59853 6.59506 8.61707 5.55518C9.62586 5.22439 10.0676 3.96227 9.44128 3.07373L9.27722 1.29834L10.0594 1.42529Z" stroke="currentColor" stroke-width="2.5"/>
      </svg>
    {%- else -%}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5 13L9.5 20L22.5 5" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
  {%- endcase -%}
</span>
