<pdp-modal>
  <div class="pdp-modal__content">
    <div class="pdp-modal__block js-modal" id="pdp-modal">
      <button class="pdp-modal__close" data-target="#pdp-modal" data-action="close">
        {% render 'icon-close' %}
      </button>
      <div class="pdp-modal__heading">
        Heading
      </div>
      <div class="pdp-modal__text">
        Text
      </div>
    </div>
  </div>
</pdp-modal>